.subtext {
  font-size: 1rem;
}

.section {
  padding: 15px;
}

.sectionHeading {
  font-size: 1.4rem;
}

.list li {
  font-size: 1rem;
}

.lineButton {
  font-size: 1rem;
  padding: 8px 15px;
}

.bannerText {
  font-size: 1.5rem;
}
